*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 400;
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-width: 100%;
}

.big{
  font-size:56px;
}

.small{
  font-size:20px;
  font-weight: 300;
}

.stuff{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container{
  padding: 35px;
}

.avatar{
  height: 200px;
  border-radius: 25%;
  padding: 8px;
  border: 2px solid #FFFFFF;

}

.s-m{
  padding:45px;
  width: 1000px;
}

.s-m a{
  display: inline-flex;
  width: 70px;
  height: 70px;
  background: #000000;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  border-radius: 50%;
  transition: 0.4s;
  font-size: 40px;
}

.s-m a:hover{
  background: #222222;
}

.s-m a i{
  transition: 0.4s all;
}

.s-m a:hover > i{
  transform: scale(1.2) rotate(25deg)
}
